body {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0 25px;
}

header {
  margin: 50px 0;
}

p {
  font-size: 1.3em;
}

form {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.input {
  flex: 1;
}

.selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection {
  margin-top: 25px;
}
